<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewData["TItle"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/css/SiginIn.css" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-lightnavbar d-flex justify-content-between bg-white border-buttom w-100">
			<div class="header-brand">
				<h1><a asp-area="" asp-controller="Home" asp-action="Index"><span class="primary-color">G</span>-BLac</a></h1>
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="d-flex p-0">
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between my-auto">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">CONTACT US</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="resgistration"></a>
						</li>
					</ul>
				</div>
				<div class="btn-group my-auto">
					<button class="btn-large btn-primary-color text-center">Explore</button>
					<button class="btn-large btn-secondary-color text-center">Sign Up</button>
				</div>
			</div>
		</nav>
	</header>
	<main>
		@RenderBody()
	</main>
	<footer>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
