@using GBLAC.Models.DTOs
@{
	Layout = "_LoginLayout";
	ViewData["Title"] = "Sign In";
	LoginModel login = new LoginModel();
	UserRegisteModel register = new UserRegisteModel();
}

<div class="form-signin bg-white p-4 hide-element" style="border-radius: 1.5em;">
	<form id="sign-in-form" method="post" asp-controller="Login" asp-action="login">
		<div class="text-center mb-4">
			<h2 class="h3 mb-3 font-weight-normal">Sign In</h2>
			<p>Welcome to G-BLac Library</p>
		</div>
		<hr />
		<div asp-validation-summary="All" class="text-danger"></div>
		<div class="form-group form-label-group">
			<input asp-for=@login.Email id="inputEmail" class="form-control" placeholder="Email address" required autofocus />
			<label for="inputEmail" asp-for=@login.Email>Email address</label>
			<span asp-validation-for=@login.Email class="text-danger"></span>
		</div>
		<div class="form-group form-label-group">
			<input asp-for=@login.Password type="password" id="inputPassword" class="form-control" placeholder="Password" required>
			<label asp-for=@login.Password for="inputPassword">Password</label>
			<span asp-validation-for=@login.Password class="text-danger"></span>
		</div>
		<div class="form-group">
			<p>
				<a asp-page="/ForgotPassWord">Forgot your password?</a>
			</p>
		</div>
		<div class="form-group">
			<button type="submit" class="btn pb-2 btn-lg btn-block btn-secondary-color" style="border-radius:2em;">Sign in</button>
		</div>
	</form>
</div>

<div class="form-signin bg-white p-4" style="border-radius: 1.5em;">
	<form id="sign-up-form" method="post" asp-controller="Login" asp-action="Registration">
		<div class="text-center mb-4">
			<h2 class="h3 mb-3 font-weight-normal">Sign Up</h2>
			<p>Please use your CHAS issued credentials to login</p>
		</div>
		<hr />
		<div asp-validation-summary="All" class="text-danger"></div>
		<div class="form-group form-label-group">
			<input asp-for=@register.Password type="text" id="inputPassword" class="form-control" placeholder="First Name" required>
			<label asp-for="@register.Password for=" inputPassword">Password</label>
			<span asp-validation-for=@register.Password class="text-danger"></span>
		</div>
		<div class="form-group form-label-group">
			<input asp-for=@register.LastName type="text" id="lastName" class="form-control" placeholder="Last Name" required>
			<label asp-for=@register.LastName for="lastName">Last Name</label>
			<span asp-validation-for=@register.LastName class="text-danger"></span>
		</div>
		<div class="form-group form-label-group">
			<input asp-for=@register.Email id="inputEmail" class="form-control" placeholder="Email address" />
			<label for="inputEmail" asp-for=@register.Email>Email address</label>
			<span asp-validation-for=@register.Email class="text-danger"></span>
		</div>
		<div class="form-group form-label-group">
			<input asp-for=@register.Password type="text" id="inputPassword" class="form-control" placeholder="Password" required>
			<label asp-for=@register.Password for="inputPassword">Password</label>
			<span asp-validation-for=@register.Password class="text-danger"></span>
		</div>
		<div class="form-group form-label-group">
			<input asp-for=@register.ConfirmPassword type="text" id="confirmPassword" class="form-control" placeholder="Confirm Password" required>
			<label asp-for=@register.ConfirmPassword for="confirmPassword">Confirm Password</label>
			<span asp-validation-for=@register.ConfirmPassword class="text-danger"></span>
		</div>
		<div class="form-group">
			<button type="submit" class="btn pb-2 btn-lg btn-block btn-secondary-color" style="border-radius:2em;">Sign Up</button>
		</div>
	</form>
</div>

