@{
	Layout = "_loginLayout";
	ViewData["Title"] = "Sign In";
}


<div class="modal">
	<div class="button-box">
		<div id="btn"></div>
		<button type="button" class="toggle-btn toggle-btn1">Sign in</button>
		<button type="button" class="toggle-btn toggle-btn2">Register</button>
	</div>
	@*	<div class="social-icon">
		<img src="icons/facebook.png" alt="" width="50" height="50">
		<img src="icons/instagram.png" alt="" width="50" height="50">
		<img src="icons/linkedin.png" alt="" width="50" height="50">
		</div>*@

	<div class="form-container">
		<form id="sign-in" method="post" class="p-3">
			<input class="input-field" type="text" placeholder="First Name" required>
			<input class="input-field" type="password" placeholder="Last Name" required>
			<div class="buttons">
				<button class="login-button" type="submit">Submit</button>
			</div>
		</form>
		<form id="sign-up" method="post" class="hide p-3">
			<input class="input-field" type="text" placeholder="First Name" required>
			<input class="input-field" type="text" placeholder="Last Name" required>
			<input class="input-field" type="text" placeholder="Username" required>
			<input class="input-field" type="email" placeholder="Email" required>
			<input class="input-field" type="text" placeholder="Password" required>
			<div class="buttons">
				<button type="submit">Submit</button>
			</div>
		</form>
	</div>
</div>


