<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/css/register.css">
	<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css">
	<link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css">
	<title>Document</title>
</head>
<body>
	<div class="grid-container">
		<div class="header">
			<div class="header-brand"><h1><a href="#">G-BLAC</a></h1></div>
			<div class="header-nav">
				<ul class="nav-list">
					<li class="nav"><a href="#">HOME</a></li>
					<li class="nav"><a href="#">EXPLORE</a></li>
					<li class="nav"><a href="#">CONTACT US</a></li>
					<li class="nav"><span class="sign"><a href="#">SIGN IN</a></span></li>
					<li class="search"><i class="fas fa-search"></i></li>
				</ul>
			</div>
		</div>
		<div class="main">
			@RenderBody()
		</div>
		<div class="footer">footer</div>
	</div>
	<script src="~/js/register.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
