
:root {
    --primary-color: #fae801; /*#ffe600;*/
    --secondary-color: #263b5e;
    --offset-color: #bec4cf;
}
.section{
    border-bottom: 0.5px solid var(--primary-color);
}
.section-title{
    font-weight: normal;
    font-size: 25px;
}
.section-description{
    font-size: 18px;
    font-style: oblique;
}

.book-title {
    font-weight: normal;
    font-size: 18px;
}
.book-aurthor {
    margin: 0 1px;
    font-size: 14px;
    font-style: oblique;
}

.book-rating{
    font-size: 12px;
}

a:hover {
    text-decoration-line: none;
    opacity: 0.6;
}