
@{
    ViewData["Title"] = "Admin";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="@Url.Content("/js/admin.js")"></script>
    <link rel="stylesheet" href="~/css/admin.css">
    <title>Document</title>
</head>
<body>
    <div class="modal hide">
        <button class="close-button">x</button>
        <div class="form-div">
            <form action="" class="upload-form">
                <div>
                    <label for="book-name">Book Title:</label>
                    <input type="text" id="book-name" name="book-name">
                </div>

                <div>
                    <label for="author">Author:</label>
                    <input type="text" id="author" name="author">
                </div>

                <div>
                    <label for="description">Short Description:</label>
                    <input type="text" id="description" name="description">

                </div>

                <div>
                    <label for="myfile">Upload cover image:</label>
                    <input type="file" id="myfile" name="myfile">
                </div>

            </form>
        </div>
    </div>
    <div class="grid-container">
        <div class="header">
            <div class="header-brand-div">
                <h1 class="header-brand">G-BlAC</h1>
            </div>
            <div class="header-navs">
                <!-- <i class="fas fa-search"></i></i> -->
                <ul class="nav-menu">
                    <li class="main-nav-menu">
                        <h3><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</h3>
                    </li>
                </ul>

            </div>
            <i class="fa fa-bell" aria-hidden="true"></i>
        </div>
        <div class="main">
            <div class="main-grid">
                <div class="left-grid">
                    <div class="dashboard dash1">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <h3 class="listing">Admin</h3>
                    </div>
                    <div class="dashboard dash dash2">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <h3 class="listing">Books</h3>
                    </div>
                    <div class="dashboard dash dash3">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <h3 class="listing dash">Logout</h3>
                    </div>

                </div>
                <div class="right-grid">
                    <div class="books hide">
                        <a class="add-button" href="#"><i class="fa fa-plus" aria-hidden="true"></i> Add Book</a>
                        <div class="table-section">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Title</th>
                                        <th>Author</th>
                                        <th>Description</th>
                                        <th>Category</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Lord Of The Rings</td>
                                        <td>J.R.R Tolkien</td>
                                        <td>A book that describes the magical era</td>
                                        <td>Fiction</td>
                                        <td class="action"><button><i class="fas fa-edit"></i></button><button><i class="fas fa-trash"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Harry Porter</td>
                                        <td>J.K Rowling</td>
                                        <td>A book that describes the magical era</td>
                                        <td>Fiction</td>
                                        <td class="action"><button><i class="fas fa-edit"></i></button><button><i class="fas fa-trash"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Harry Porter</td>
                                        <td>J.K Rowling</td>
                                        <td>A book that describes the magical era</td>
                                        <td>Fiction</td>
                                        <td class="action"><button><i class="fas fa-edit"></i></button><button><i class="fas fa-trash"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Harry Porter</td>
                                        <td>J.K Rowling</td>
                                        <td>A book that describes the magical era</td>
                                        <td>Fiction</td>
                                        <td class="action"><button><i class="fas fa-edit"></i></button><button><i class="fas fa-trash"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Harry Porter</td>
                                        <td>J.K Rowling</td>
                                        <td>A book that describes the magical era</td>
                                        <td>Fiction</td>
                                        <td class="action"><button><i class="fas fa-edit"></i></button><button><i class="fas fa-trash"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="admin-details">
                        <h1>Welcome Admin</h1>
                    </div>

                </div>
            </div>
        </div>
    </div>
    @*<script src="../wwwroot/js/admin.js"></script>*@
</body>
</html>

